{% extends 'base.html' %}

{% block content %}

<div class="reservation-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="contact-block">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <h3>انتخاب تاریخ و ساعت و تعداد</h3>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="input_date" class="datepicker picker__input form-control" name="date" placeholder="2021-12-12 تاریخ: برای مثال" type="text" value="" equired data-error="Please enter Date">
                                        <div class="help-block with-errors"></div>
                                    </div>                                 
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input id="input_time" name="time" class="time form-control picker__input" placeholder="19:40:00 ساعت: برای مثال" required data-error="زمانمورد نظر خود را وارد کنید">
                                        <div class="help-block with-errors"></div>
                                    </div>                                 
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select class="custom-select d-block form-control" id="person" name="number" required data-error="Please select Person">
                                          <option disabled selected>تعداد نفرات</option>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                          <option value="8">8</option>
                                          <option value="9">9</option>
                                          <option value="10">10</option>
                                          
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3>اطلاعات</h3>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="نام و نام خانوادگی" required data-error="لطفا نام خود را وارد کنید">
                                        <div class="help-block with-errors"></div>
                                    </div>                                 
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="email@yahoo.com ایمیل: برای مثال" id="email" class="form-control" name="email" required data-error="لطفا ایمیل خود را وارد کنید">
                                        <div class="help-block with-errors"></div>
                                    </div> 
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="تلفن همراه" id="phone" class="form-control" name="phone" required data-error="لطفا شماره تلفن همراه خود را وارد کنید">
                                        <div class="help-block with-errors"></div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="submit-button text-center">
                                    <button class="btn btn-common" id="submit" type="submit">رزرو</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div> 
                                    <div class="clearfix"></div> 
                                </div>
                            </div>
                           
                        </div>            
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
{% endblock content %}